.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}



.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 183px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  background-image: url("../images/logo_place_header.svg");
  background-size: cover;
  z-index: 2;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: 700;
  width: 730px;
  z-index: 2;
  margin-left: 64px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  position: absolute;
  left: 64px;
  bottom: 30px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}


.header__main-illustration {
  width: 765px;
  height: 608px;
  background-image: url("../images/header-image.png");
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.description {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  color: #2f80ed;
  width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.two-columns__paragraph {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.two-columns__paragraph:nth-child(2) {
  margin: 30px 0 30px 0;
}

.two-columns__span-accent {
  font-weight: 700;
}

.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 100px 0;
}

.section-title {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-bottom: 20px;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}


.table {
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 700;
  z-index: 1;
  margin: auto;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  margin: 0;
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 700;
}

.table__text {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
  margin-block-end: 0;
}

.feynman {
  background-color:  #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  height: 790px;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  width: 648px;
  font-size: 120px;
  font-weight: 700;
  line-height: 1.15em;
  margin: auto;
  text-align: center;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  margin-top: 70px;
  text-align: center;
  margin-block-end: 0;
  z-index: 1;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  overflow: hidden;
  position: relative;
  background-color: #1f1f1f;
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title_theme_dark {
  padding-top: 90px;
  color: #FFFFFF;
  margin-bottom: 20px;
  line-height: 1.15em;
  font-size: 60px;
  font-weight: 700;
  z-index: 1;
  position: relative;
}

.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  color: #FFFFFF;
  z-index: 1;
}

.table_theme_dark {
  margin-bottom: 90px;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15em;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
  z-index: 1;
}

.table__text_theme_dark {
  line-height: 1.2em;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  height: 100%;
}

.footer__columns {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 0 40px 0;
  min-height: 350px;
  color: #FFFFFF;
  box-sizing: border-box;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  height: 35px;
  background-image: url("../images/logo_place_footer.svg");
  background-size: cover;
  z-index: 2;
}

.footer__author {
  margin: 18px 0 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.footer__column-heading{
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: left center;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  height: 16px;
  width: 16px;
  display: inline-block;
}